@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Titillium+Web & display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url('_fonts/bubblegum-sans-regular.otf');
}

h1{
   font-size: 30px;
}
form{
   font-size: 12px;
}